body{
    background-color: rgb(111, 81, 167);
}

html, body {
    height: 100%
}

#root{
    text-align: center;
}

#sec-header {
    font-size: xx-large;
    font-weight: 700;
    color: white;
}

#search-streamer-container {
    margin-left: 35%;
    margin-right: 35%;
}