body{
    background-color: rgb(145, 178, 240);
    
}

#root{
    text-align: center;
}

#sec-header {
    font-size: xx-large;
    font-weight: 700;
}

#search-streamer-container {
    margin-left: 30%;
    margin-right: 30%;
}